.descriptionbox{
    margin: 15px 20px;
}
.descriptionbox-navigator{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: 16px;
    font-weight: 600;
    width: 175px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.descriptionbox-nav-box .fade{
    background-color: #fbfbfb;
    color: #555;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #d0d0d0;
    padding: 20px;
}

